.App {
  min-height: 50vh;
}
.paper {
  margin: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  margin: 30px;
  padding: 5%;
}
.title {
  align-items: center;
}

.profile {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}

.profile_button {
  display: flex;
  column-gap: 2rem;
}

.edit_team h4 {
  text-align: center;
}
