@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap&rel=preload');

.App {
  min-height: 50vh;
  width: 100%;
}

.paper {
  
}

.vendors {
  padding: 5%;
}

.vendors_add {
  padding: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 30px;
  padding: 5%;
}

.title {
  padding-top: 50px;
  text-align: center;
}

.profile {
  padding: 5%;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}

.profile_button {
  display: flex;
  column-gap: 2rem;
}

.invoices_add{
  padding:5%;
}

.edit_team h4 {
  text-align: center;
}

.release_order{
  padding:5%;
}

.edit_team {
  padding: 5%;
}

.footer {
  align-items: center;
  width: 100%;
  padding: 50px;
}

.navigation_purchase {
  padding: 5%;
  display: flex;
  column-gap: 10px;
  flex-flow: row wrap;
}